---
title: 8000038 Üldmääruse lapse konto kontrollimine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 01/15/2019
ms.locfileid: "28285093"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="dcd0b-102">Kuvatakse Microsofti konto sünnikuupäev on vale</span><span class="sxs-lookup"><span data-stu-id="dcd0b-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="dcd0b-p101">Microsoft võtab väga tõsiselt varustuskindlust. On hiljuti olnud teilt volitus sätestada lapse Microsofti konto. Kui vajate abi pakkudes vanemliku nõusoleku või ajakohastamiseks Microsofti konto sünnikuupäev, Vaata [vanuse kontrollimise volitus](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="dcd0b-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="dcd0b-106">Lisateavet [vanemate nõusoleku ja Microsoft lapsekonto](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="dcd0b-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

