---
title: 8000038 Üldmääruse lapse konto kontrollimine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 01/15/2019
ms.locfileid: "28285093"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Kuvatakse Microsofti konto sünnikuupäev on vale

Microsoft võtab väga tõsiselt varustuskindlust. On hiljuti olnud teilt volitus sätestada lapse Microsofti konto. Kui vajate abi pakkudes vanemliku nõusoleku või ajakohastamiseks Microsofti konto sünnikuupäev, Vaata [vanuse kontrollimise volitus](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lisateavet [vanemate nõusoleku ja Microsoft lapsekonto](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

