---
title: EDU-kontrollimine
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814368"
---
# <a name="edu-verification"></a><span data-ttu-id="1f780-102">EDU-kontrollimine</span><span class="sxs-lookup"><span data-stu-id="1f780-102">EDU verification</span></span>

<span data-ttu-id="1f780-103">Enamasti töödeldakse akadeemilisi nõuetele vastavuse taotlusi 24–48 tunni jooksul.</span><span class="sxs-lookup"><span data-stu-id="1f780-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="1f780-104">Mõni taotlus võib nõuda põhjalikumat läbivaatamist ja töötlemiseks võib võtta kuni 10 tööpäeva.</span><span class="sxs-lookup"><span data-stu-id="1f780-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="1f780-105">Kui see on lõpule viidud, saadame teie kooli nõuetele vastavuse olekuga meilisõnumi.</span><span class="sxs-lookup"><span data-stu-id="1f780-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="1f780-106">**Tähtis** Kui väljusite enne domeeni sisestamist kinnitusviisardist, saate tasuta prooviversiooni ajal igal ajal akadeemilise kinnitamise viisardit jätkata. [](https://go.microsoft.com/fwlink/p/?linkid=2135255)</span><span class="sxs-lookup"><span data-stu-id="1f780-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="1f780-107">Kui soovite kontrollida oma domeeni olekut, avage [Microsoft 365 halduskeskus.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="1f780-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="1f780-108">Liikuge avalehel kerides alla ja otsige üles **arvelduskaart.**</span><span class="sxs-lookup"><span data-stu-id="1f780-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="1f780-109">**Arvelduskaart** näitab kinnitamise olekut (kinnitatud, ootel, tagasi lükatud või domeeni lisamine).</span><span class="sxs-lookup"><span data-stu-id="1f780-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="1f780-110">Kui teie taotlus lükatakse tagasi, lugege [teemat Minu kool pole sobilik. Mida teha?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="1f780-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>