---
title: Edu kontrollimine
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205263"
---
# <a name="edu-verification"></a><span data-ttu-id="a20f6-102">Edu kontrollimine</span><span class="sxs-lookup"><span data-stu-id="a20f6-102">EDU verification</span></span>

<span data-ttu-id="a20f6-103">Enamikul juhtudel menetletakse akadeemilisi abikõlblikkustaotlusi 24–48 tunni jooksul.</span><span class="sxs-lookup"><span data-stu-id="a20f6-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="a20f6-104">Mõned taotlused võivad nõuda põhjalikumat läbivaatamist ja töötlemiseks võib võtta kuni 10 tööpäeva.</span><span class="sxs-lookup"><span data-stu-id="a20f6-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="a20f6-105">Kui see on lõpetatud, saadame teie kooli kõlblikkuse staatusega e-kirja.</span><span class="sxs-lookup"><span data-stu-id="a20f6-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="a20f6-106">**Oluline on** Kui väljusite kontrollviisardist enne domeeni sisestamist, saate [akadeemilise kontrolli viisardit](https://go.microsoft.com/fwlink/p/?linkid=2135255) igal ajal tasuta prooviperioodi jooksul jätkata.</span><span class="sxs-lookup"><span data-stu-id="a20f6-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="a20f6-107">Kui soovite kontrollida oma domeeni olekut, [Microsoft 365 halduskeskusse](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="a20f6-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="a20f6-108">Kerige avalehel allapoole ja leidke **arvelduskaart.**</span><span class="sxs-lookup"><span data-stu-id="a20f6-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="a20f6-109">**Arvelduskaart** näitab kinnitusprotsessi olekut (kinnitatud, ootel, keeldutud või domeeni lisamine).</span><span class="sxs-lookup"><span data-stu-id="a20f6-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="a20f6-110">Kui teie taotlus on tagasi lükatud, vaadake teemat [Minu kool pole sobilik. Mida ma nüüd teen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="a20f6-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>