---
title: Edu kontrollimine
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205263"
---
# <a name="edu-verification"></a>Edu kontrollimine

Enamikul juhtudel menetletakse akadeemilisi abikõlblikkustaotlusi 24–48 tunni jooksul. Mõned taotlused võivad nõuda põhjalikumat läbivaatamist ja töötlemiseks võib võtta kuni 10 tööpäeva. Kui see on lõpetatud, saadame teie kooli kõlblikkuse staatusega e-kirja.

**Oluline on** Kui väljusite kontrollviisardist enne domeeni sisestamist, saate [akadeemilise kontrolli viisardit](https://go.microsoft.com/fwlink/p/?linkid=2135255) igal ajal tasuta prooviperioodi jooksul jätkata.

Kui soovite kontrollida oma domeeni olekut, [Microsoft 365 halduskeskusse](https://go.microsoft.com/fwlink/p/?linkid=2024339). Kerige avalehel allapoole ja leidke **arvelduskaart.** **Arvelduskaart** näitab kinnitusprotsessi olekut (kinnitatud, ootel, keeldutud või domeeni lisamine).

Kui teie taotlus on tagasi lükatud, vaadake teemat [Minu kool pole sobilik. Mida ma nüüd teen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)