---
title: EDU-kontrollimine
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946699"
---
# <a name="edu-verification"></a>EDU-kontrollimine

Enamasti töödeldakse akadeemilisi nõuetele vastavuse taotlusi 24–48 tunni jooksul. Mõni taotlus võib nõuda põhjalikumat läbivaatamist ja töötlemiseks võib võtta kuni 10 tööpäeva. Kui see on lõpule viidud, saadame teie kooli nõuetele vastavuse olekuga meilisõnumi.

**Tähtis** Kui väljusite enne domeeni sisestamist kinnitusviisardist, saate tasuta prooviversiooni ajal igal ajal akadeemilise kinnitamise viisardit jätkata. [](https://go.microsoft.com/fwlink/p/?linkid=2135255)

Kui soovite kontrollida oma domeeni olekut, avage Microsoft 365 halduskeskus [.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Liikuge avalehel kerides alla ja otsige üles **arvelduskaart.** **Arvelduskaart** näitab kinnitamise olekut (kinnitatud, ootel, tagasi lükatud või domeeni lisamine).

Kui teie taotlus lükatakse tagasi, lugege [teemat Minu kool pole sobilik. Mida teha?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)