---
title: 8000038 Üldmääruse lapse konto kontrollimine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524407"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="efaa6-102">Kuvatakse Microsofti konto sünnikuupäev on vale</span><span class="sxs-lookup"><span data-stu-id="efaa6-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="efaa6-103">Microsoft võtab väga tõsiselt varustuskindlust.</span><span class="sxs-lookup"><span data-stu-id="efaa6-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="efaa6-104">On hiljuti olnud teilt volitus sätestada lapse Microsofti konto.</span><span class="sxs-lookup"><span data-stu-id="efaa6-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="efaa6-105">Kui vajate abi pakkudes vanemliku nõusoleku või ajakohastamiseks Microsofti konto sünnikuupäev, Vaata [vanuse kontrollimise volitus](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="efaa6-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="efaa6-106">Lisateavet [vanemate nõusoleku ja Microsoft lapsekonto](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="efaa6-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  