---
title: 8000038 Üldmääruse lapse konto kontrollimine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775833"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Kuvatakse Microsofti konto sünnikuupäev on vale

Microsoft võtab väga tõsiselt varustuskindlust. On hiljuti olnud teilt volitus sätestada lapse Microsofti konto. Kui vajate abi pakkudes vanemliku nõusoleku või ajakohastamiseks Microsofti konto sünnikuupäev, Vaata [vanuse kontrollimise volitus](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lisateavet [vanemate nõusoleku ja Microsoft lapsekonto](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

