---
title: 8000038 GDPR-i lapse konto kinnitamine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764976"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="ceb68-102">Teie Microsofti kontol kuvatav sünnikuupäev on vale</span><span class="sxs-lookup"><span data-stu-id="ceb68-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="ceb68-103">Microsoft võtab konto turvalisust väga tõsiselt.</span><span class="sxs-lookup"><span data-stu-id="ceb68-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="ceb68-104">Teil võidakse hiljuti paluda vanemliku nõusoleku andmist lapse Microsofti kontole.</span><span class="sxs-lookup"><span data-stu-id="ceb68-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="ceb68-105">Kui vajate vanemlikku nõusolekut või Microsofti kontol sünnikuupäeva uuendamist, vaadake [Vanemanõusoleku vanuse kontrollimist](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="ceb68-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="ceb68-106">Lugege lisateavet [vanemliku nõusoleku ja Microsofti tütarkontode](https://go.microsoft.com/fwlink/p/?linkid=874365)kohta.</span><span class="sxs-lookup"><span data-stu-id="ceb68-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  