---
title: 8000038 ÜLDMÄÄRUSE lapse konto kinnitamine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707959"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Teie Microsofti kontol kuvatav sünnikuupäev on vale

Microsoft võtab konto turvalisust väga tõsiselt. Võimalik, et teil on hiljuti palutud anda lapse Microsofti konto jaoks vanemlik nõusolek. Kui vajate abi vanema nõusoleku andmisel või sünnikuupäeva värskendamisel Microsofti kontol, lugege teemat [vanema nõusoleku vanuseline kontrollimine](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lugege lisateavet [vanemliku nõusoleku ja Microsoft Childi kontode](https://go.microsoft.com/fwlink/p/?linkid=874365)kohta.
  