---
title: 8000038 GDPR-i lapse konto kinnitamine
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764976"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Teie Microsofti kontol kuvatav sünnikuupäev on vale

Microsoft võtab konto turvalisust väga tõsiselt. Teil võidakse hiljuti paluda vanemliku nõusoleku andmist lapse Microsofti kontole. Kui vajate vanemlikku nõusolekut või Microsofti kontol sünnikuupäeva uuendamist, vaadake [Vanemanõusoleku vanuse kontrollimist](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lugege lisateavet [vanemliku nõusoleku ja Microsofti tütarkontode](https://go.microsoft.com/fwlink/p/?linkid=874365)kohta.
  