---
title: Publisheri kontrolli tõrkeotsing
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884906"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Arendajate Publisheri vastavustõendamisega seotud probleemid

**Soovitatavad toimingud** 

Publisheri vastavustõendamisega seotud probleemide lahendamiseks tehke järgmist.

1. Kontrollige, kas eeltingimused ja muud nõuded on täidetud.
2. Vaadake üle juhised, mille abil saab [rakenduse Publisher kontrollida](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ja tagada, et kõik toimingud on edukalt läbi viidud.
3. Vaadake üle [levinumate probleemide](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) loend ja järgige soovitatud juhiseid, kui teil on sellisest loendist probleem.
4. Reprodutseerige taotlus [Graph Exploreri](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) abil, et koguda lisateavet ja välistada kasutajaliidese probleemid.

**Soovitatud dokumendid**

- [Publisheri vastavustõendamine – ülevaade](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Rakenduse märkimine Publisheri kontrollina](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Publisheri kontrolli tõrkeotsing](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

