---
title: Publisheri kontrolli tõrkeotsing
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: et-EE
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884906"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="77f8a-102">Arendajate Publisheri vastavustõendamisega seotud probleemid</span><span class="sxs-lookup"><span data-stu-id="77f8a-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="77f8a-103">**Soovitatavad toimingud**</span><span class="sxs-lookup"><span data-stu-id="77f8a-103">**Recommended steps**</span></span> 

<span data-ttu-id="77f8a-104">Publisheri vastavustõendamisega seotud probleemide lahendamiseks tehke järgmist.</span><span class="sxs-lookup"><span data-stu-id="77f8a-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="77f8a-105">Kontrollige, kas eeltingimused ja muud nõuded on täidetud.</span><span class="sxs-lookup"><span data-stu-id="77f8a-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="77f8a-106">Vaadake üle juhised, mille abil saab [rakenduse Publisher kontrollida](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ja tagada, et kõik toimingud on edukalt läbi viidud.</span><span class="sxs-lookup"><span data-stu-id="77f8a-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="77f8a-107">Vaadake üle [levinumate probleemide](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) loend ja järgige soovitatud juhiseid, kui teil on sellisest loendist probleem.</span><span class="sxs-lookup"><span data-stu-id="77f8a-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="77f8a-108">Reprodutseerige taotlus [Graph Exploreri](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) abil, et koguda lisateavet ja välistada kasutajaliidese probleemid.</span><span class="sxs-lookup"><span data-stu-id="77f8a-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="77f8a-109">**Soovitatud dokumendid**</span><span class="sxs-lookup"><span data-stu-id="77f8a-109">**Recommended documents**</span></span>

- [<span data-ttu-id="77f8a-110">Publisheri vastavustõendamine – ülevaade</span><span class="sxs-lookup"><span data-stu-id="77f8a-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="77f8a-111">Rakenduse märkimine Publisheri kontrollina</span><span class="sxs-lookup"><span data-stu-id="77f8a-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="77f8a-112">Publisheri kontrolli tõrkeotsing</span><span class="sxs-lookup"><span data-stu-id="77f8a-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

